.signup-video{
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.signup-video video{
max-height: 35rem;
max-width: 35rem;
height: 100%;
width: 100%;
}
@media screen and (max-width:880px){
  .signup-video{
    display: none;
  }
}